version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: code_editor_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: collaborative_code_editor
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: .
    container_name: code_editor_backend
    depends_on:
      - mysql
    ports:
      - "8080:8080"
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: collaborative_code_editor
      DB_USER: root
      DB_PASSWORD: root

volumes:
  mysql_data:
